body {
  --accent-color-light: #06c9e1;
  --accent-color-dark: #033d44;
  --accent-color: #008d9f;
  --kubeflow-color: #025865;
  --primary-background-color: #0593a1;
  --sidebar-color: #f8fafb;
  --border-color: #f4f4f6;
}
